---
import products from "../assets/products.json";
import ProductCard from "./ProductCard.astro";
const { category } = Astro.props;
let search = "";

const filteredProducts = products.filter((p) => p.category === category).filter((p) => search === "" || p.name.toLowerCase().includes(search.toLowerCase()));
---

<div class="lg:m-auto grid w-full  lg:w-3/4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6" id="gallery">
	{filteredProducts.map((product) => <ProductCard product={product} category={category} />)}
</div>
