<div class="flex h-screen flex-col md:flex-row">
	<div class="bg-tech flex h-full flex-1 flex-col items-center justify-center transition-all duration-300 ease-in-out hover:flex-[1.2] hover:bg-blue-600">
		<h2 class="mb-5 block text-center text-3xl font-extrabold text-white text-shadow-[2px_2px_4px_rgba(0,0,0,0.3)] sm:text-4xl md:text-5xl">Tecnología</h2>
		<p class="sm:text-md w-1/2 text-center text-sm text-white md:text-lg">Descubre los últimos gadgets y dispositivos tecnológicos</p>
		<a href="/tech" class="text-tech mt-5 rounded-full bg-white px-6 py-3 font-bold transition duration-300 hover:translate-y-1.5 hover:bg-gray-100">Explorar</a>
	</div>
	<div class="bg-kawaii flex h-full flex-1 flex-col items-center justify-center transition-all duration-300 ease-in-out hover:flex-[1.2] hover:bg-pink-400">
		<h2 class="mb-5 block text-center text-3xl font-extrabold text-white text-shadow-[2px_2px_4px_rgba(0,0,0,0.3)] sm:text-4xl md:text-5xl">Bazar & Variedades Kawaii</h2>
		<p class="sm:text-md w-1/2 text-center text-sm text-white md:text-lg">Encuentra una variedad de productos adorables y únicos para todos los gustos.</p>
		<a href="/kawaii" class="text-kawaii mt-5 rounded-full bg-white px-6 py-3 font-bold transition duration-300 hover:translate-y-1.5 hover:bg-gray-100">Explorar</a>
	</div>
</div>
